
body {
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.7;
}

header {
    display: inline-flex;
    z-index: 1;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}


.header-block {
    display: flex;
    align-items: center;
}

.header-right {
    margin-right: 10px;
    word-spacing: 20px;
}

.header-right .tea {
    word-spacing: 0;
}

.logo-img {
    align-items: center;
    margin-left: 10px;
    height: 50px;
}



.navlist li {
    display: inline-flex;
    list-style: none;
    text-decoration: underline;
    
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-info {
    display: flex;
    position: relative;
    background-image: url('../4/images/img-mission-background.jpg');
    height: 700px;
    min-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}


.mission {
    text-align: center;
    line-height: 2;
    font-weight: bold;
}

.black-border {
    background-color: black;
    width: 100%;
}

.top {
    margin-top: 4rem;
}

.smallimgs img {
    height: 200px;
    width: 300px;
    margin: 1rem 1rem 0 1rem;
}

.locations {
    margin-top: 3rem;
    display: flex;
    position: relative;
    background-image: url('../4/images/img-locations-background.jpg');
    min-height: 500px;
    min-width: 1200px;
    align-items: center;
    justify-content: center;
    flex-shrink: 2;
}

.locations-block  .center {
    margin-bottom: 15px;
}

.b-blocks {
    display: flex;
}


.b-content {
    display: flex;
    flex-direction: column;
    line-height: 3;
    text-align: center;
    width: 300px;
    background-color: black;
    margin: 20px;
}

.footer-block {
    height: 200px;
    line-height: 2;
    text-align: center;
}

.footer-block h5 {
    line-height: 3;
}

.footer-copy {
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: left;
}